#iot-login{
  background-color: transparent;
  background-image: url("../images/spl.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iot-login-logo{

  padding: 25vw 0 15vw;
  .logo{
    display: block;
    width: 30.6vw;
    height: 30.6vw;
    background-color: transparent;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
}
.iot-login-form{
  padding: 0 15px;
  position: relative;
}
.iot-login-form-input{
  background-color: rgba(255,255,255,0.2);
  padding: 0 50px;
  @include box-shadow(0 15px 10px -11px rgba(0,0,0,0.3));
  @include border-radius(30px);
  margin: 20px 0;
  position: relative;
  &:before{
    width: 45px;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    position: absolute;
    left: 20px;
    top: 0;
    content: '';
  }
  &.iot-login-form-user{
    &:before{
      background-image: url("../images/ic_user.svg");
    }
  }
  &.iot-login-form-password{
    &:before{
      background-image: url("../images/ic_pass.svg");
    }
  }
}
.iot-login-form-input{
  input{
    height: 45px;
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align: center;
    @include placeholder($color-white);
    color: $color-white;
    &:focus{
      outline: 0;
    }
  }
}
.login-active{
  pointer-events: none;
  #iot-login-control{
    background-color: darken($orange,7%);
    &:after{
      opacity: 1;
    }
  }
}
#iot-login-control{
  height: 45px;
  width: 100%;
  border: 0;
  background-color: $orange;
  text-align: center;
  color: $color-white;
  @include border-radius(30px);
  @include box-shadow(0 15px 10px -11px rgba(0,0,0,0.3));
  position: relative;
  line-height: 45px;
  padding: 0;
  margin: 0;
  &:after{
    content: '';
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-image: url(../images/loading.svg);
    width: 25px;
    height: 100%;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    opacity: 0;
  }
  &:active{
    background-color: darken($orange,5%);
  }
  &:focus{
    outline: 0;
  }
}
.iot-login-form-register{
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
  a{
    color: $color-white;
    font-weight: 400;
    padding: 5px 0 5px 10px;
  }
}
.iot-login-footer{
  line-height: 24px;
  width: 100%;
  padding: 0 15px;
  height: 45px;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  p{
    margin: 0;
    padding: 0;
    opacity: 0.5;
    color: $color-white;
    font-size: $font-size-base - 1;
  }
  a{
    display: block;
    font-size: $font-size-base + 1;
    color: $color-white;
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      background-image: url(../images/ic_help.svg);
      width: 20px;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
    }
  }
}
.iot-login-errors{
  position: absolute;
  bottom: 100%;
  padding-bottom: 10px;
  left: 22px;
  right: 15px;
  word-wrap: break-word;
  color: #f1ea21;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  &.eff{
    opacity: 1;
  }
}
@keyframes bounceCenter {
  0%{
    left: 15px;
  }
  25%{
    left: 22px;
  }
  50%{
    left: 15px;
  }
  100%{
    left: 22px;
  }
}
@media ( max-width: 370px ) {
  .iot-login-logo{
    padding: 22vw 0 12vw;
  }
  .iot-login-form-input:before{
    left: 15px;
  }
}