.iot-profiler-inner{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 25px 25px;
  overflow: auto;
  background: white;
  ul{
    list-style: none;
    padding: 30px 0 0 0;
    margin: 0;
    li {
      display: flex;
      -webkit-display: flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      padding: 15px 0 15px 45px;
      position: relative;
      span{
        font-weight: 700;
        &:last-child{
          font-weight: 500;
          max-width: 70%;
          text-align: right;
          word-break: break-word;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &:before {
        width: 32px;
        height: 32px;
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0, -50%);
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        background-image: url("../images/icon-city.svg");
      }
      &.iot-profiler-name{
          &:before{
            background-image: url("../images/ic_sidebar_user.svg");
          }
      }
      &.iot-profiler-email{
          &:before{
            background-image: url("../images/ic_mail.svg");
          }
      }
      &.iot-profiler-phone{
          &:before{
            background-image: url("../images/ic_phone.svg");
          }
      }
    }
  }
}
.iot-profiler-logo{
  margin: 11vw 0 0;
  position: relative;
  .logo{
    display: block;
    width: 30.6vw;
    height: 30.6vw;
    background-color: transparent;
    background-image: url("../images/ic_register.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    &:after{
      position: absolute;
      right: 0;
      top : 0;
      background-image: url("../images/edit.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px;
      width: 25px;
      height: 25px;
      content: '';
      background-color: #eeeeee;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
      opacity: 0;
    }
    &.logo-acitve{
      &:active {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  #myAvatar{
    display: none;
    width: auto;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    @include translate(-50%,0);
    max-height: 100%;
    object-fit: cover;
    -webkit-object-fit: cover;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  }
  #myAvatarPR{
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
}
#iot-profiler .ioi-content{
  overflow: auto;
}
#iot-profiler{
  &.loading-image{
    pointer-events: none;
    .iot-profiler-logo{
      &:after{
        content: '';
        display: block;
        width: 30.6vw;
        height: 30.6vw;
        background-color: rgba(255,255,255,0.95);
        background-image: url(../images/loading2.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80px;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%,-50%);
      }
    }
  }
}